@import "icon/*"
@import 'axis'
@import 'jeet'
@import 'rupture'
@import "variable/*"

border-box-html()
fluid-media() //care flex box image
rupture.scale = 0 320px 640px 768px 1024px 1280px
rupture.scale-names = 'xs' 's' 'm' 'l' 'xl' 
jeet.gutter = 1

.allpage
	background #eee
	wraper
		background white
		height 100vh
		a
			padding 20px
			display block
			box-shadow 1px 1px 20px #eee
			margin-bottom 10px
			border-radius 5px
			tr(all)
			&:hover
				background #6D2D74
				color white
wraper
	center(1200px)
	padding 20px
.hidden
	display none
placeholder()
body
	color #777f90
	font-family Helvetica
	font-size 14px
	font-weight 400
	line-height 17px
input,textarea
	outline none

a
	color blue
.row-flex
	flex(mid)
	justify-content flex-start
	margin-bottom 10px
	.main-button
		&:first-child
			margin-left 0
			
.row-input-flex-between
	justify-content flex-between
	.input-row
		width 100%
		margin 0 5px
.green-text
	color green


//=== Header ===
.header
	height 80px
	flex(between)
	bsh()
.header-el-left
	flex(mid)
	width 50%
	justify-content flex-start
.header-el-right
	flex(mid)
	width 50%
	justify-content flex-end
	height 100%
.logo
	flex(mid)
	flex-basis 240px
	min-width 240px
	font-size 36px
	font-weight 700
	line-height 43px
	color blue 
.header-search
	position relative
	width 70%
	margin-left 40px
	input
		width 100%
		padding 10px
		background white
		border 0px
		border-bottom 1px solid blue
		width 100%
	.icon-Search
		position absolute
		font-size 28px
		color blue
		right 0px
		top 50%
		margin-top -18px
.header-icon
	border-right 1px solid grey
	height 100%
	flex(mid)
	.icon-notification
		position relative
		span
			position absolute
			font-size 10px
			width 15px
			height 15px
			background red
			border-radius  50%
			text-align center
			color white
			left 15px
			top -5px
			line-height 14px
	a
		font-size 28px
		margin 0 20px
		color blue
.header-prof 
	flex(mid)
	min-width 300px
	position relative
.header-prof-info
	text-align right
.header-prof-img
	&:hover
		cursor pointer
	img
		width 50px
		border-radius 50%
		bsh()
		margin-left 10px
.header-prof-sub-wrap
	display none
.header-prof-sub
	position absolute 
	top 65px
	left 0
	width 100%
	background white
	flex(mid)
	fl()
	bsh()
.header-prof-sub-el
	width 90%
	display block
	flex(mid)
	padding 10px
	i
		font-size 28px
		color blue
		margin-right 10px
	.icon-exit
		font-size 16px
	span
		margin-bottom 0
		color textcolor
.wraper 
	f()
	min-height calc(100vh - 80px)
	
//=== Left-col ===

.left-col
	min-width 240px
	width 240px
	background blue
	padding-top 60px
	ul
		list-style none
	li
		color white
	a
		color white
		display block
		padding 10px 10px 10px 60px
		tr(all)
		&:hover
			color red
			background #c3e6f4
.left-col > ul > li
	margin-bottom 10px
	&:hover
		cursor pointer
	span
		padding-left 40px
		display block
		position relative
		margin-bottom 10px
		&:before
			content ' \e911 '
			font-family 'icomoon' !important
			position absolute
			left 15px
			color white
			tr(all)
			
.left-col-active
	a
		color red
		background #c3e6f4
		
.left-col-sub
	display none
.left-col-sub-active
	span
		&:before
			content ' \e911 '
			font-family 'icomoon' !important
			transform rotate(-90deg)

// main-cont
.content-col
	flex-basis 100%
	background lightblue
	padding 40px


.top-tab-menu
	border-bottom 1px solid grey
	margin-bottom 50px
	a
		display inline-block
		padding 20px

.top-tab-menu-active
	color red
	border-bottom 1px solid red

//Icon
.icon-btn
	width 40px
	height 40px
	border-radius 50%
	border 1px solid blue
	font-size 30px
	text-align center
	color blue
	line-height 40px
	margin 0 10px
	tr(all)
	&:hover
		color red
		border 1px solid red
		cursor pointer

.icon-btn-active
	color red!important
	border 1px solid red!important
	
.icon-panel
	font-size 22px
	line-height 38px
	
.select,select:focus
	border-radius 25px
	margin 0 10px
	border 1px solid blue
	color blue

.nice-select
	height 32px
	line-height 32px
	background none
	.current
		color blue
	.option
		color textcolor
	&:after
		border-bottom 2px solid blue
		border-right 2px solid blue

.select-big
	height 42px
	line-height 40px

.nice-select:active, .nice-select.open, .nice-select:focus	
	border-color blue

.select-dark
	.current
		color white
	background blue

.select-dark.nice-select:after
		border-bottom 2px solid white!important
		border-right 2px solid white!important

.top-row-button
	margin-bottom 40px

.select-light
	border  0px
	width  100%
	border-bottom  1px solid #e1e1e1
	border-radius  0px
	padding-left  0px
	margin-left 0
	.list
		width 100%
		border-radius 0
	&:focus
		border-color red
.data-table
	width 100%
	thead
		background-color rgba(230, 243, 250, 0.7)
		height 60px
		tr
			height 60px
			th
				font-weight 300
				width auto
				text-align left
				padding 0px 20px
				white-space nowrap
				div[class*="icon"]
					display none
					position absolute
					top 3px
					right 0px
	tr
		border-bottom 1px solid grey
	td
		padding 20px
	input[type="checkbox"]
		margin-right 10px	
	tbody
		background white
	.icon-close
		font-size 8px
	
.table-avatar
	width 25px
	height 25px
	border-radius 50%
	margin-right 10px	
	img
		border-radius 50%
	bsh()
//.table-avatar-info

.col-flex
	f()
	fl()
.table-progress
	flex(between)
	span 
		margin-left 10px
.table-progress-bar
	width 100%
	height 10px
	background #e5e9ed
	border-radius 3px
	position relative
.table-progress-val
	position absolute
	height 10px
	background #00b8df
	border-radius 3px 0 0 3px
	top 0px
	left 0px
	width 5%
	
input[type="checkbox"]
	display none
input[type="radio"]
	display none

input[type="checkbox"] + label span
	display inline-block;
	width 15px;
	height 15px;
	margin -1px 10px 0 0;
	vertical-align middle;
	background url(../img/chekbox.png) no-repeat;
	cursor pointer;


input[type="checkbox"]:checked + label span
	background:url(../img/checkbox-check.png) no-repeat;
	
.checkbox-round
	margin-right 20px
input[type="radio"] + label span
	display inline-block;
	width 18px;
	height 18px;
	margin -1px 10px 0 0;
	vertical-align middle;
	background url(../img/input-circle-uncheck.png) no-repeat;
	cursor pointer;
	
input[type="radio"]:checked + label span
	background:url(../img/input-circle-check.png) no-repeat;
	
.select-simple
	border 1px solid grey
	border-radius 0px
	height 32px
	line-height 32px
	padding-left 10px
	.list
		border-radius 0px
		width 100%
		li
			text-align left
			padding 0
			width 100%
			padding-left 10px
	.focus
		padding-right 0 !important
	.option
		line-height 30px
		min-height 30px
		
.table-nav
	flex(between)
	padding 25px
	background white
.table-count
	flex(mid)
.table-page
	flex(mid)
.table-page-el
	flex(mid)
	cp()
	round()
	border 1px solid #cfe2e7
	margin 0 5px
	width 35px
	height 35px
	&:hover
		color red
		border 1px solid red

.get-datapicker
	position relative
	
.datepicker
	margin-top -1px
	border 0px !important
	border-radius 0 !important
	border-top 2px solid red!important
	.day
		color textcolor
	.active
		background none!important
		color red!important
		border 1px solid red!important
		border-radius 50%
		display block
		width 28px
		height 100%
		line-height 17px
.datepicker-dropdown.datepicker-orient-bottom:after,
.datepicker-dropdown.datepicker-orient-bottom:before
	display none

.table-prior
	position relative
.table-prior-wraper
	.row-flex
		fw()
		margin-bottom 10px
		&:last-child
			margin-bottom 0
	position absolute
	width 125px
	background-color white
	border 1px solid #e4f3f9
	bsh()
	padding 20px 10px
	top 25px
	left 0px
	display none
	border-top 2px solid red
.data-table-title
	position relative
.data-table-title-change
	display block
	width 100%
	position relative
	padding-right 10px
	cp()
	div[class*="icon"]
		display block!important
	&:before
		content ''
		position absolute
		bottom -10px
		height 2px
		background grey
		width 100%
.data-table-title-active
	&:before
		content ''
		background red
	div[class*="icon"]
		color red
	.icon-arrows
		transform rotate(180deg)

.range-slider
	position absolute
	bottom -270px
	left 0px
	background white
	bsh()
	width 120px
	padding 30px 20px
	z-index 2
#rangeSlider
	height 200px
	
.noUi-connect
	background blue
	
.breadcrumbs
	padding 20px
	margin-bottom 50px
	border-bottom 1px solid grey
	a
		margin-right 20px
		position relative
		color textcolor
		display inline-block
		
		&:after
			content '/'
			position absolute
			right -12px
		&:last-child
			color red
			pointer-events none
			&:after
				content ''
.breadcrumbs-modal
	padding 0
	margin-bottom 20px
	border 0px
	a
		&:first-child
			margin-right 10px
			&:after
				content ''
	.icon-arrows
		transform rotate(90deg)
.main-button
	border-radius 25px
	margin 0 10px
	border 1px solid blue
	color blue
	padding 14px 20px
.main-button-dark
	color white
	background blue
.small-button
	padding 8px 20px
.wraper-border
	padding 20px
	border 1px solid grey
	border-top 0
.top-tab-menu-near
	margin-bottom 0
	
.wraper-white
	background white
	bsh()
	margin-bottom 20px
.title-toggle-hide
	padding 25px 20px
	div[class*="icon-"]
		round()
		cp()
		padding 3px
		color blue
		margin-right 20px
		border 1px solid blue
.col-content
	padding 20px
	border-top 1px solid grey
	margin-bottom 20px
	.col
		position relative
	.icon-Information
		position absolute
		right 10px
		bottom 20px
		font-size 20px
		color blue
		cp()
.input-row
	& > span
		display block
		font-size 12px
		color rgba(119, 127, 144, 0.5)
	input
		padding 5px 0px
		width 100%
		border 0px
		border-bottom 1px solid grey
		//margin 5px
		margin-bottom 10px
		&:focus
			border-bottom 1px solid red!important
	.current
		color rgba(119,127,144,0.5)


.infomation-block
	position absolute
	right -220px
	top -150px
	width 200px
	background white
	z-index 2
	padding 20px
	border 1px solid grey
	display none
.infomation-block-el
	margin-bottom 20px
	.type-mid
		color #777f90
		margin-bottom 5px
.infomation-block-title
	margin-bottom 20px
	padding-bottom 10px
	border-bottom 1px solid grey

.infomation-block-wraper
	position relative
	&:before
		content ''
		width 20px
		height 20px
		border-bottom 1px solid #e1e1e1
		border-left 1px solid #e1e1e1
		position absolute
		left -30px
		top 165px
		transform rotate(45deg)
		background white

.progress-think
	.table-progress-val
		height 4px
	.table-progress-bar
		height 4px

.input-row-progress
	input
		margin-bottom  0px
		border 0px

.modal
	display none
	position relative
	width 50%
	min-width 800px
	top 50px !important
.modal-wraper
	background white
.modal-close
	position absolute
	top 20px
	right 20px
	color blue
	cp()
//.icon-close
.modal-head
	padding 40px
	background #f2f8fc
.modal-title
	margin-bottom 20px

.modal-content
	padding 30px 40px
	border-top 1px solid grey
	position relative
	height 620px
.property-cont
	margin-top 10px
	border 1px solid grey
	padding 10px 0px
	height 200px
	overflow auto
.property-el
	padding 5px 20px
	padding-right 0
	flex(between)
	&:hover
		background #f8fcfd;
		cp()
		.property-icon
			color blue
			border 1px solid blue
.property-icon
	round()
	color grey
	width 16px
	height 16px
	border 1px solid grey
	margin-right 20px
	span
		text-align center
		display block
		line-height 12px

.modal-content-coner
	position absolute
	width 30px
	height 30px
	border-top 1px solid grey
	border-left 1px solid grey
	top -15px
	left 0px
	background white
	transform rotate(45deg)
	
.modal-footer
	position absolute
	bottom 25px
	left 45px

	
.close-block
	position relative
	.icon-close
		position absolute
		top 10px
		right 10px
		font-size 12px
		cp()
.block-tools-sort
	margin-top 20px
	/*height 250px
	overflow auto*/
	.wraper-block
		margin-bottom 20px
.block-tools-sort-wraper
	border 1px solid grey
	padding 10px
	margin-top 10px

.block-tools-filter
	brd()
	margin 20px 0
.block-tools-filter-title
	padding 10px 20px
	background #edf7fb
.block-tools-filter-el
	padding 10px 30px
	&:hover
		cp()
		color red
		background #f8fcfd
.filter-sub
	position relative
	cp()
	&:before
		content '\e911'
		font-family 'icomoon' !important;
		position absolute
		left 10px
		top 5px
		transition all .4s
		width 20px
		height 20px
		color textcolor
		transform rotate(-90deg)
	&:hover
		cp()
		color red
.filter-sub-el
	padding 5px 20px
	color textcolor  !important
	&:hover
		cp()
		color red !important
		background #f8fcfd

.filter-sub-wrap
	display none
	
.filter-sub-active
	&:before
		content '\e911'
		font-family 'icomoon' !important;
		position absolute
		top 10px
		color red
		transform rotate(0deg)
		
.scroll-overflow
	height 250px
	overflow auto

.checkbox-row
	margin-bottom 10px
	
.icon-circle
	font-size 22px
	
.filter-tool-el
	flex(between)
	width 100%
	padding-left 10px
	margin-bottom 5px
	.input-row
		width 100%
		position relative
		input
			margin 0
			padding 8px 0
		div[class*='icon-']
			cp()
			position absolute
			right 0px
			top 0px
			font-size 36px
			color blue
	.icon-close
		top 15px
		right -35px
.filter-tool
	margin-left 25px
	position relative
	margin-top 20px
	.icon-arrows
		round()
		cp()
		border 1px solid red
		color red
		padding 3px
		text-align center
		line-height 12px
	&:before
		content ''
		position absolute
		width 1px
		height calc(100% - 45px)
		background red
		left -5px
		top 45px
.filter-tool-arrow
	position absolute
	left -15px
	top 25px
	
.filter-tool-head
	margin-bottom 10px
	
.filter-tool-wraper
	/*height 360px
	overflow auto*/

.icon-Back,
.icon-Next
	font-size 36px
	width 20px
	height 20px
	line-height 22px
	margin-left -11px

.icon-Next
	margin-left -22px
	line-height 20px
	
.input-row-icon
	position relative
	input
		padding: 9px 0;
		margin 0
	div[class*='icon-']
		cp()
		position absolute
		right 0px
		bottom 0px
		font-size 36px
		color blue

.text-italic
	font-style italic

.text-underline
	text-decoration underline
	
.selec-kindtext
	.list
		li
			&:nth-child(2)
				font-style italic
			&:nth-child(3)
				text-decoration underline

.color-picker-wrpaer
	input 
		padding 9px 0
		margin 0
	flex(mid)
	.palette-color-picker-button
		height 22px
		
.palette-color-picker-bubble
	background white
	z-index 100
	
.row-flex-botttom
	align-items flex-end
	
.wraper-scroll
	height 450px
	
.mCSB_inside>.mCSB_container
	margin-right 0

.row-flex-between
	flex(between)

.head-search
	@extend .wraper-white
	padding 20px
	position relative
	.coner
		left 340px
		border 0px
	.icon-close
		color blue
		top 20px
		right 20px
.serch-el
	padding 20px
	width 820px
	.type-mid
		margin 5px 0
		color #777f90
	p
		margin 0
		color #565d6b
	

hr
	border-top: 1px solid #E2E1E1
	margin-bottom 20px
	
.coner
	position: absolute;
	width: 30px;
	height: 30px;
	border-top: 1px solid #e1e1e1;
	border-left: 1px solid #e1e1e1;
	top: -15px;
	background: #fff;
	transform: rotate(45deg);
	
.search-wraper
	width 820px
	
.head-tools
	@extend .wraper-white
	padding 20px
	position relative
	.coner
		left 255px
		border 0px
	.icon-close
		color blue
		top 20px
		right 20px
	.type
		margin-right 20px

.head-tools-wraper
	width 820px

.icon-disable
	color #ABE3F9
	border 1px solid #ABE3F9
	&:hover
		color #ABE3F9
		border 1px solid #ABE3F9
		cursor auto

.icon-music
	font-size 18px

.header-search-sub
	position absolute
	top 60px
	padding 20px
	background white
	z-index 100
	border: 1px solid #e1e1e1
	width 100%
	display none
	.icon-close
		color blue
		top 20px
		right 20px
	.coner
		right 80px
	.block-tools-filter-el
		&:hover
			color textcolor
	.filter-sub-wrap
		.row-flex
			margin 10px
	.wraper-scroll
		border: 1px solid #e1e1e1
		padding 10px
		height 200px
		margin-bottom 20px

.checkbox-square
	width 18px
	height 18px
	display inline
	input[type="checkbox"] + label span
		display inline-block;
		width 18px;
		height 18px;
		margin 0
		vertical-align middle;
		background url(../img/checkbox-square-uncheck.png) no-repeat;
		cursor pointer;
		
	input[type="checkbox"]:checked + label span
		background:url(../img/checkbox-square-check.png) no-repeat;

.header-search-sub-title
	.type
		margin-right 20px
		margin-bottom 10px

.search-footer
	margin-top 20px