@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot');
    src:    url('../fonts/icomoon.eot') format('embedded-opentype'),
        url('../fonts/icomoon.ttf') format('truetype'),
        url('../fonts/icomoon.woff') format('woff'),
        url('../fonts/icomoon.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-Back:before {
    content: "\e925";
}
.icon-Next:before {
    content: "\e926";
}
.icon-exit:before {
    content: "\e923";
}
.icon-message:before {
    content: "\e920";
}
.icon-notification:before {
    content: "\e921";
}
.icon-panel:before {
    content: "\e922";
}
.icon-Add2:before {
    content: "\e924";
}
.icon-circle:before {
    content: "\e914";
}
.icon-cogwheel:before {
    content: "\e915";
}
.icon-Delete:before {
    content: "\e916";
}
.icon-Edit:before {
    content: "\e917";
}
.icon-EditPerfomance:before {
    content: "\e918";
}
.icon-Filter:before {
    content: "\e919";
}
.icon-Format:before {
    content: "\e91a";
}
.icon-GeneralSettings:before {
    content: "\e91b";
}
.icon-PanelOfPerfomance:before {
    content: "\e91c";
}
.icon-SettingsOfFilters:before {
    content: "\e91d";
}
.icon-Sorting:before {
    content: "\e91e";
}
.icon-square:before {
    content: "\e91f";
}
.icon-arrows:before {
    content: "\e911";
}
.icon-close:before {
    content: "\e912";
}
.icon-filter-outline:before {
    content: "\e913";
}
.icon-Add:before {
    content: "\e900";
}
.icon-Base:before {
    content: "\e901";
}
.icon-Catalog:before {
    content: "\e902";
}
.icon-Information:before {
    content: "\e903";
}
.icon-Knowledge:before {
    content: "\e904";
}
.icon-Message:before {
    content: "\e905";
}
.icon-My_pages:before {
    content: "\e906";
}
.icon-Mypage:before {
    content: "\e907";
}
.icon-Mytasks:before {
    content: "\e908";
}
.icon-Operator:before {
    content: "\e909";
}
.icon-questions:before {
    content: "\e90a";
}
.icon-Search:before {
    content: "\e90b";
}
.icon-Settings:before {
    content: "\e90c";
}
.icon-stack-of-books-and-magnifier:before {
    content: "\e90d";
}
.icon-technology-call:before {
    content: "\e90e";
}
.icon-tool:before {
    content: "\e90f";
}
.icon-Workplace:before {
    content: "\e910";
}

