red = #eb285a
green = #35cd67
blue = #0496d0
lightblue = #f2f8fc
grey = #e1e1e1
textcolor = #565d6b
.type
	font-size 14px
	line-height 17px

.type-mid
	font-size 12px
	line-height 14px
	margin-bottom 10px
	
.type-small
	font-size 10px
	font-weight 400
	line-height 12px
	

.infomation-block
	position absolute
	right -10px

.text-red
	color red!important
	
//.infomation-block-title