.header
	.header-el-left
		a(href="#").logo
			span ITESM
		.header-search
			input(type="h")
			.icon-Search
	.header-el-right
		.header-icon
			a(href="#").icon-notification
				span 4
			a(href="#").icon-message
		.header-prof
			.header-prof-info
					.type Иванов Иван
					.type-small инженер отдела автоматизации
			.header-prof-img
					img(src="img/avatar.jpg", alt="")
			.header-prof-sub-wrap
				.header-prof-sub
					a(href="#").header-prof-sub-el
						i.icon-EditPerfomance
						span.type-mid Редактировать профиль
					a(href="#").header-prof-sub-el
						i.icon-exit
						span.type-mid Выйти из системы