.left-col
	ul
		li
			span Мои страницы
			ul.left-col-sub
				li.left-col-active
					a(href="#") Рабочее место
				li
					a(href="#") Моя страница
				li
					a(href="#") Каталог услуг
				li
					a(href="#") Мои задачи
				li
					a(href="#") База знаний
				li
					a(href="#") Мои настройки
		li 
			span Управление инцидентами
		li 
			span Управление запросами на обслуживание
		li
			span Управление проблемами
		li 
			span Управление изменениями